---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        About Jie Li
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Jie Li is a Postdoctoral Researcher in Computer Science at Texas Tech University, where he is a member of the <Link href="https://discl.cs.ttu.edu/doku.php?id=home"> DISCL</Link> under the guidance of <Link href="https://www.myweb.ttu.edu/yonchen/">Dr. Yong Chen</Link>. Jie's research interests lie in the field of High-Performance Computing (HPC), including HPC systems monitoring, automation, and management, operational data analytics, job scheduling, and system architecture. He also has a keen interest in parallel and distributed computing and computer architecture. Jie completed his Master of Science degree in Computer Science from Texas Tech University in 2019. Prior to that, he earned a bachelor’s degree in architecture.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-2 border-2 border-red-800 text-red-800 dark:border-red-400 border-dashed p-2 dark:text-red-400">
          📢 I am actively seeking tenure-track Assistant Professor positions in Computer Science. If you are aware of any open positions or would like to connect, please feel free to reach out to me.
        </section>

        <section class="animate space-y-4">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              News
            </h2>
            <Link href="/news"> See all news </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4 overflow-y-auto max-h-[300px] scroll_bar">
            <li>[07/2024]: Our paper, “Job Scheduling in High-Performance Computing Systems with Disaggregated Memory Resources,” has been <span class="text-red-800 dark:text-red-400">accepted to <Link href="https://clustercomp.org/2024/">CLUSTER'24</Link></span>. Our co-author George will present the paper in Kobe, Japan on September 26th.</li>
            <li>[06/2024]: Jie continues his work at DISCL as a Postdoctoral Researcher after earning his Ph.D.</li>
            <li>[05/2024]: Jie has successfully defended his dissertation: “Optimizing High-Performance Computing Systems: Insights from System Monitoring, Workload Management, and Scheduling Strategies.”</li>
          </ul>
        </section>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <!-- <article>
            <p>
              If you want to get in touch with me about something, reach out on social media or send me an email.
            </p>
          </article> -->
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <!-- <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li> -->
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
