---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { publications, boldAuthor } from '../content/publications';

const PUBLICATIONS = {
  title: "Publications",
  description: "List of publications by Jie Li"
}
---

<Layout title={PUBLICATIONS.title} description={PUBLICATIONS.description}>
  <Container>
    <div class="space-y-6">
      <h2 class="text-xl font-semibold text-black dark:text-white">Publications</h2>

      <div class="space-y-8">
        {
          publications.map((yearGroup) => (
            <div class="space-y-4">
              <h2 class="text-xl font-semibold">{yearGroup.year}</h2>
              <ul class="space-y-4 list-disc pl-5">
                {yearGroup.papers.map((paper) => (
                  <li>
                    <div class="space-y-1">
                      <Link href={paper.link} external>
                        {paper.title}
                      </Link>
                      <p class="text-sm text-gray-600 dark:text-gray-400" set:html={boldAuthor(paper.authors)} />
                      <p class="text-sm font-medium text-gray-800 dark:text-gray-200">{paper.venue}</p>
                    </div>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>